<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
    <ion-button (click)="back()" slot="end"  color="primary" shape="round">
      Volver
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div id='map' style='width: 400px; height: 100%;'></div>



</ion-content>
