<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-button shape="round" fill="outline" (click)="scan()">SCAN</ion-button>

  
</ion-content>
